<ng-template>
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>{{movie.original_title}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()" [strong]="true">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" color="primary">
    <div>
      <img *ngIf="movie.backdrop_path" alt="" src="http://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}" />
    </div>
    <div>
      <star-rating [starType]="'svg'" [rating]="movie.vote_average/2" staticColor="ok" size="large"
        labelText="{{movie.vote_average | number: '1.0-1'}}" labelPosition="bottom"></star-rating>
    </div>
    <div>
      <ion-item>
        <ion-textarea value="{{movie.overview}}" autoGrow="true"></ion-textarea>
      </ion-item>
    </div>
  </ion-content>
</ng-template>