<ion-content color="primary">
  
  <div class="login__container">

    <div class="login__image">
      
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      
    </div>
    <div class="login__email">
      <ion-item  color="secondary">
        <ion-input label="Email" labelPlacement="floating"></ion-input>
      </ion-item>
    </div>
    <div class="login__password">
      <ion-item  color="secondary">
        <ion-input label="Password" labelPlacement="floating"></ion-input>
      </ion-item>
    </div>
  </div>

  <div class="login__button-container">
    <ion-button expand="full" fill="solid" color="secondary" shape="round">
      Login
    </ion-button>
    <ion-button expand="full" fill="solid" shape="round" size="small">
      Register
    </ion-button>
  </div>

</ion-content>
