.login__pre-container{
  background-color: var(--ion-color-tertiary);
  border: 1px solid var(--ion-color-tertiary);
  border-radius: 25px;
  margin: 5vh 10vw;
  padding: 5px;
}
.login__container{
  display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 200px;
    align-items: center;
    
    background-color: var(--ion-color-secondary);
    border: 2px solid var(--ion-color-secondary);
    border-radius: 20px;
}
.login__image{
  img{

    border-radius: 50%;
  }
  padding: 75px;
}

.login__button-container{
  ion-button{
    margin: 20px 10vw;
    text-transform: uppercase;
    font-weight: bold;
  }
  margin: 0 5vw;
}

.padding{
  padding: 0px 10px;
}

ion-item{
  border-radius: 15px;
  margin: 4px;
  border: 2px solid;
}
