
<ion-content [fullscreen]="false" color="tertiary">
  <ion-searchbar animated="true" placeholder="Animated" mode="ios" color="light" [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>
  <ion-grid fixed>
    <ion-row *ngFor="let movie of movies">
      <ion-col size="12">
        
        <app-moviecard  [movie]="movie"></app-moviecard>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="getMoreMovies()" expand="full" shape="round">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
    
      

</ion-content>
