<ion-content [fullscreen]="false" color="tertiary">
  <app-header></app-header>
  <ion-searchbar animated="true" placeholder="Animated" mode="ios" color="light" [debounce]="1000"
    (ionInput)="handleInput($event)"></ion-searchbar>
  <ion-grid fixed>
    
    <ion-row >
      <ion-col sizeXs="12" sizeMd="6" *ngFor="let movie of movies">

        <app-moviecard [movie]="movie" (click)="openModalMovie(movie)"></app-moviecard>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <!-- <ion-item> -->
          <div class="spinner">

            <ion-spinner name="bubbles" color="secondary"></ion-spinner>
          </div>
        <!-- </ion-item>         -->
      </ion-col>
    </ion-row>
    <ion-infinite-scroll (ionInfinite)="getMoreMovies($event)" loadingSpinner="bubbles" loadingSpinner="bubbles"
      threshold="2%">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
  <ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title>{{selMovie.original_title}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()" [strong]="true">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" color="primary">
        <ion-grid fixed>
          <ion-row>
            <ion-col sizeXs="12" sizeMd="6">
              <div class="poster_path">
                <img *ngIf="selMovie.poster_path" alt="" src="https://image.tmdb.org/t/p/w500/{{selMovie.poster_path}}" />
              </div>
              <div class="release_date">
                {{selMovie.release_date}}
              </div>
              <div>
                <star-rating [starType]="'svg'" [readOnly]="!movieEdit" [rating]="movieRate/2" staticColor="ok" size="large"
                  labelPosition="bottom" (ratingChange)="onRatingChange($event)"></star-rating>
              </div>
            </ion-col>
            <ion-col  sizeXs="12" sizeMd="6">
              <div *ngIf="movieEdit">
                <ion-item>
                  <ion-textarea value="{{selMovie.overview}}" autoGrow="true" [rows]="15" [(ngModel)]="selMovie.overview"></ion-textarea>
                </ion-item>
              </div>
              <div *ngIf="!movieEdit" class="ion-padding" >
                <!-- <ion-item> -->
                  <p> {{selMovie.overview}}</p>
                <!-- </ion-item> -->
              </div>
              <div>
                <img *ngIf="selMovie.backdrop_path" alt="" src="https://image.tmdb.org/t/p/w500/{{selMovie.backdrop_path}}" />
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        
        
        
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-button (click)="editMovie()" expand="full" shape="round" >
            <ion-icon *ngIf="!movieEdit" slot="icon-only" name="pencil" ></ion-icon>
            <ion-icon *ngIf="movieEdit" slot="icon-only" name="save" ></ion-icon>
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>


</ion-content>