.register__title{
  text-transform: uppercase;
  margin-top: 10px;
}

.login__container{
    height: 510px;
}

.login__image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}